<main>
    <section class="register">
        <header class="registerSection">
            <h2 class="registerTitle"> ConversorApp</h2>
            <h2 class="registerTitle"> Registrarse</h2>
        </header>
        <section class="registerContent">
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                <section class="registerFields">
                    <div class="colorletter-register">
                        <label for="email">Email </label>
                        <input type="text" id="email" placeholder="Email" name="email" ngModel required>
                    </div>
                    <div class="colorletter-register">
                        <label for="username">Usuario </label>
                        <input type="text" id="username" placeholder="Usuario" name="username" ngModel required>
                    </div>
                    <div class="input-container">
                        <label for="password">Contraseña</label>
                        <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Contraseña" name="password" ngModel required>

                        <button type="button" (click)="togglePasswordVisibility()">
                            <img [src]="showPassword ? 'img/icons/EyeOpen.png' : 'img/icons/EyeClose.png'"
                                alt="Toggle Password Visibility" style="width: 25px; height: 25px;">
                        </button>
                    </div>
                </section>

                <section>
                    <div class="buttonLog">
                        <button class="button" type="submit"><span> Registrar Usuario
                            </span></button>
                    </div>
                </section>
                <section>
                    <div class="buttonLog">
                        <button class="button" [routerLink]="['/login']"><span> Volver a Iniciar Sesion
                            </span></button>
                    </div>
                </section>
            </form>
        </section>
    </section>
</main>
