<main class="subscription-container">
  <section class="update-subscription-panel">
    <h1>Gestionar Tu Suscripción</h1>

    <div class="subscription-cards">
      @for (subscription of subscriptions; track $index) {
        <div
          class="subscription-card"
          [class.active]="subscription.subscriptionId === currentSubscriptionId"
        >
          <h2>{{ subscription.subscriptionName }}</h2>
          <p>Límite de Conversiones: <strong>{{ subscription.subcount }}</strong></p>
    
          @if (subscription.subscriptionId !== currentSubscriptionId) {
            <button
              (click)="confirmSubscriptionChange(authService.user?.userId, subscription.subscriptionId)"
            >
              Seleccionar
            </button>
          } @else {
            <span class="current-badge">
              Subscripción Actual
            </span>
          }
        </div>
      }
    </div>
    
  </section>
</main>
