<main class="subscription-container">
    <!-- Panel de Actualización de Suscripción -->
    <section class="update-subscription-panel">
      <h1>Actualizar Suscripción</h1>
  
      <table class="subscription-table">
        <thead>
          <tr>
            <th>Nombre de la Suscripción</th>
            <th>Límite de Conversiones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subscription of subscriptions">
            <td>{{ subscription.subscriptionName }}</td>
            <td>{{ subscription.subcount }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  